@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
}

.container{
    background: url(/image/bg.jpg);
    height: 100vh;
    background-size: 100% 100%;
}

.container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4);
    border-radius: 0 0 30px 30px;
}

.navbar ul{
    float: right;
    margin-right: 20px;
}
.navbar .logo{
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
}
.navbar .logo a{
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: #f3f3f3;
    font-weight: bold;
}

.navbar .logo span{
    color: black;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}

.navbar ul li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: Roboto;
    font-weight: bold;
    transition: 0.5s;
}

.navbar ul li a.active{
    background: rgb(185, 88, 88);
    border-radius: 15px 30px;
}


.navbar ul li a:hover{
    background: #32323b;
    border-radius: 15px 30px;
}

.container .center{
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
}

.center h1{
    color: black;
    font-size: 70px;
    font-weight: bold;
    width: 900px;
    text-align: center;
}

.center h2{
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
    width: 885px;
    margin-top: 10px;
    text-align: center;
}

.center .buttons{
    margin: 35px 280px;
}

.buttons button{ 
    height: 50px;
    width: 150px;
    font-size: 18px;
    color: #ffb3b3;
    background: rgba(207, 96, 88, 0.8);
    border: solid 1px red;
    cursor: pointer;
    border-radius: 15px 35px;
    outline: none;
    font-weight: bold;
    transition: 0.5s;
}

.buttons button:hover{
    background: #ffffff;
    color: black;
    border: solid 2px black;
}

.foot {
    padding: 20px;
    margin-top: -64px;
    color: white;
    background-color: rgba(22, 112, 214, 0.4);
    text-align: center;
    border-radius: 30px 30px 0 0;
    font-size: 20px;
    font-weight: bold;
}

.foot span{
    color:black;
}

.foot .copy{
    color: black;
}

